html {
  box-sizing: border-box
}

*,
*::before,
*::after { 
  box-sizing: inherit;
}

:root {
    font-size: 62.5%;
}

body {
  background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.welcome {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 4rem;
  margin: 3rem 2rem 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

#gametitle {
  font-size: 5rem;
  color: blue;
}

#selectionMessage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btncontainer {
  display: grid;
  grid-template-columns: 50rem 50rem;
  grid-template-rows: 30rem 30rem;
  margin-left: 18rem;
}

.btn {
  font-size: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFC75F;
  margin: 2rem 2rem 2rem 2rem;
  border-radius: 8rem;
  text-decoration: none;
}

.btn:hover {
  background-color: #845EC2;
  box-shadow: 0 .4rem 1.4rem 0 #845EC2;
}

#gamebody {
  color: white;
}

.choice-container {
  display: flex;
  margin-bottom: .8rem;
  width: 100%;
  border-radius: 4px;
  background: blue;
  font-size: 3rem;
  min-width: 80rem;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 .4rem 1.4rem 0 blue;
  transform: scale(1.02);
  transform: transform 100ms;
}

.choice-prefix {
  padding: 2rem 2.5rem;
  color: white;
}

.choice-text{
  padding: 2rem;
  width: 100%;
}

.correct {
  background-color: green;
}

.incorrect {
  background: red;
}

#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}


#progressBarFull {
  height: 100%;
  background-color: green;
  width: 0%;
}

.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0 .1rem 1.4rem 0 blue;
}

input::placeholder {
  color: white;
}

#username {
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
}

#end-text {
  font-size: 2.4rem;
  color: white;
  text-align: center;
}

#saveScoreBtn {
  border: none;
}

.fa-home {
  margin-left: 1rem;
  font-size: 2rem;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 30rem;
}

.playbtn {
  font-size: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFC75F;
  margin: 2rem 2rem 2rem 2rem;
  border-radius: 8rem;
  text-decoration: none;
  padding: 1rem;
}

.playbtn:hover{
  background-color: #845EC2;
  box-shadow: 0 .4rem 1.4rem 0 #845EC2;
}