html {
  box-sizing: border-box
}

*,
*::before,
*::after { 
  box-sizing: inherit;
}

:root {
    font-size: 62.5%;
}

body {
  background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.welcome {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 4rem;
  margin: 3rem 2rem 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}

#gametitle {
  font-size: 5rem;
  color: blue;
}

#selectionMessage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 50rem 50rem;
  grid-template-rows: 30rem 30rem;
  margin-left: 18rem;
}

.btn {
  font-size: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFC75F;
  margin: 2rem 2rem 2rem 2rem;
  border-radius: 8rem;
  text-decoration: none;
}

.btn:hover {
  background-color: #845EC2;
  box-shadow: 0 .4rem 1.4rem 0 #845EC2;
  /* transition: transform 150ms;
  transform: scale(1.03); */
}

.game-heading {
  font-family: 'Raleway';
  font-size: 4rem;
  margin: 3rem 2rem 0rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: paleturquoise;
}

.question-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.correct-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  /* visibility: hidden; */
}

.score {
  display: flex;
  justify-content:flex-end;
  margin-right: 10rem;
  font-size: 2rem;
}

.choice1container {
  font-size: 3rem;
  border: solid;
  padding: .5rem;
  margin: .5rem 1rem 2rem .5rem;
}
.choice2container {
  font-size: 3rem;
  border: solid;
  padding: .5rem;
  margin: .5rem 1rem 2rem .5rem;
}
.choice3container {
  font-size: 3rem;
  border: solid;
  padding: .5rem;
  margin: .5rem 1rem 2rem .5rem;
}
.choice4container {
  font-size: 3rem;
  border: solid;
  padding: .5rem;
  margin: .5rem 1rem 2rem .5rem;
}

.exit {
  font-size: 3rem;
  width: 11rem;
  text-align: center;
  margin: 2rem;
  color: black;
  background-color: red;
  border-radius: 2rem;
}

#exit-btn {
  text-decoration: none;
}

#next-btn {
  font-size: 3rem;
  background-color: palevioletred;
  width: 20rem;
  text-align: center;
}

.buttons {
  display: grid;
  /* grid-template-columns:x; */
  grid-template-columns: 100rem 100rem;
}